* {
    box-sizing: border-box;
}


.container {
    max-width: 960px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar-table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, tr, td, th {
    border: 1px solid rgba(128, 128, 128, 0.6);
}


.week-days > th {
    cursor: default !important;
    padding: 20px 30px;
}

th { 
    padding: 5px;
}

th:not(:last-child) {
    cursor: pointer;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.calendar-table {
    border: 1px solid gray;
    width: 100%;
    text-align: center;
}

.calendar-header { 
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: rgba(33,160,219,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn {
    cursor: pointer;
    margin: auto;
    padding: 10px;
}

.active { 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(139,192,225,1) 86%);
}

.disabled {
    cursor: not-allowed !important; 
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.checkbox {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-top: 20px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}



.confirm {
    background-color: rgba(33,160,219,1);
    padding: 15px 45px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.confirm:hover {
    background-color: rgb(26, 135, 185);
    box-shadow: 0px 0px 4px 4px rgba(24, 124, 170, 0.4);
}